# Dependencies
node_modules/

# Environment Variables
*.env
.env.local
.env.development.local
.env.test.local
.env.production.local
secrets.env

# Secrets & Keys
service-account.json

# Build and Logs
dist/
build/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System Files
.DS_Store
Thumbs.db